header{
    text-align: center;
}


.container{
    width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    text-align: center

};

.card{
    
}

